@font-face {
  font-family: 'montserrat-light';
  src: url('./fonts/montserrat/light.otf') format('truetype');
}

@font-face {
  font-family: 'montserrat-extralight';
  src: url('./fonts/montserrat/extra_light.otf') format('truetype');
}

@font-face {
  font-family: 'montserrat-medium';
  src: url('./fonts/montserrat/medium.otf') format('truetype');
}

@font-face {
  font-family: 'np-thin';
  src: url('./fonts/nationalpark/np-thin.otf') format('truetype');
}

@font-face {
  font-family: 'np-regular';
  src: url('./fonts/nationalpark/np-regular.otf') format('truetype');
}

@font-face {
  font-family: 'np-outline';
  src: url('./fonts/nationalpark/np-outline.otf') format('truetype');
}

@font-face {
  font-family: 'np-heavy';
  src: url('./fonts/nationalpark/np-heavy.otf') format('truetype');
}

.blog-page {
  padding-top: 5%;
  padding-right: 10%;
  padding-left: 10%;
  text-align: left;
}

.captioned-image {
  text-align: center;
  font-size: 0.8em;
  font-family: 'np-regular';
}

.captioned-image > img {
  width: 100%;
}

.northwest-corner {
  position: absolute;
  top: 0;
  right: 100;
  padding-top: 5%;
  padding-left: 5%;
}

.northeast-corner {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 5%;
  padding-right: 5%;
}

.footer {
  font-family: 'np-regular';
  text-align: center;
  font-size: 1em;
}

.bottom {
  padding-bottom: 10%;
}

.title {
  font-size: 2.5em;
  font-family: 'np-regular';
}

.header {
  font-size: 1.5em;
  font-family: 'np-regular';
}

.subheader {
  font-size: 1em;
  font-style: italic;
}

.sidebar-header {
  font-size: 1em;
  font-family: 'np-regular';
}

.text-body {
  font-size: 1.3em;
  font-family: 'np-thin';
}

#main-title {
  padding-top: 10%;
  font-size: 4em;
  font-family: 'np-regular';
  text-align: center;
}

#main-subtitle {
  font-size: 1.2em;
  font-family: 'np-thin';
  text-align: center;
}