@font-face {
  font-family: 'montserrat-light';
  src: url('./fonts/montserrat/light.otf') format('truetype');
}

@font-face {
  font-family: 'montserrat-extralight';
  src: url('./fonts/montserrat/extra_light.otf') format('truetype');
}

@font-face {
  font-family: 'montserrat-medium';
  src: url('./fonts/montserrat/medium.otf') format('truetype');
}

#outer {
  padding-top: 8%;
  text-align: center;
}
